<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <h1>2011 - 2012 NBA Database</h1>
  <a href="/nba">Show all players</a>
</body>
</html>