<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery.js" charset="utf-8"></script>
  <script src="/js/script.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(() => {
      getOnePlayer(<%= id %>);
      console.log('this is edit');
    });
  </script>
</head>
<body>
  <h1>One Player</h1>
  <div class="player-bio"></div>
</body>
</html>