<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/jquery.js" charset="utf-8"></script>
  <script src="/js/script.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(() => {
      getAllPlayers();
    });
  </script>
</head>
<body>
  <h1>2011 - 2012 NBA - All Players</h1>
  <div class="player-list"></div>
</body>
</html>