<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="/js/script2.js" charset="utf-8"></script>
</head>
<body>
  <h1>Welcome to the Future of Web Applications</h1>
  <button class="showPlayers">Show me players</button>
</body>
</html>